.CharactersList {
  width: 180px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 50%;
  left: calc(-180px + 1rem);
  border-radius: 0 8px 8px 0;
  box-shadow: var(--shadow);
  transform: translateY(-50%);
  backdrop-filter: blur(5px);

  transition: all 0.3s ease-in-out;
}

.CharactersList.expanded {
  left: 0;
}

.CharacterItem {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 12px;
}

.CharacterItem_avatar {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--grey);
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.CharacterItem.found .CharacterItem_avatar {
  opacity: 0.5;
  filter: grayscale(1);
}

.CharacterItem.found .CharacterItem_name {
  color: #b3b3b3;
  text-decoration: line-through;
}

.CharactersList_expand-btn {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--grey);
  background-color: var(--blue);
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
  cursor: pointer;

  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
}

.CharactersList_expand-icon {
  display: block;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.CharactersList:not(.expanded) .CharactersList_expand-icon {
  transform: rotate(180deg);
  right: 0;
}
