.ContextMenu {
  position: absolute;
  width: 130px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  backdrop-filter: blur(5px);
  overflow: hidden;
  animation: appear 0.3s ease-in-out;
}

.ContextMenuOption {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.ContextMenuOption:hover {
  background-color: rgba(235, 235, 235, 0.8);
}

.ContextMenuOption_avatar {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--grey);
}

.ContextMenuOption.found {
  cursor: not-allowed;
}
.ContextMenuOption.found:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.ContextMenuOption.found .ContextMenuOption_avatar {
  opacity: 0.5;
  filter: grayscale(1);
}
.ContextMenuOption.found .ContextMenuOption_name {
  color: #b3b3b3;
  text-decoration: line-through;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8) translate(-10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0);
  }
}
