.ContextMenu {
  width: 130px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  backdrop-filter: blur(5px);
  overflow: hidden;

  position: absolute;
}

.ContextOption {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.ContextOption:hover {
  background-color: rgba(235, 235, 235, 0.8);
}

.ContextOption_avatar {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--grey);
}

.ContextOption.found {
  cursor: not-allowed;
}

.ContextOption.found:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.ContextOption.found .ContextOption_avatar {
  opacity: 0.5;
  filter: grayscale(1);
}

.ContextOption.found .ContextOption_name {
  color: #b3b3b3;
  text-decoration: line-through;
}

/* Handling opening and closing animations */

.ContextMenu.opening {
  animation: bounce-in 0.3s ease-in-out;
}

.ContextMenu.closing {
  animation: bounce-out 0.3s ease-in-out;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-30%, -30%) 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0%) 1;
  }
}

@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1) translate(0%);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-30%, -30%);
  }
}
