.Footer {
  height: 50px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Footer .icon {
  width: 24px;
  height: 24px;
}

.Footer a {
  text-decoration: underline;
}
