.GameOverMessage {
  max-width: 360px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--shadow);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GameOverMessage h1 {
  margin-bottom: 24px;
}

.GameOverMessage p:first-of-type {
  margin-bottom: 32px;
}

.GameOverMessage p:last-of-type {
  margin-bottom: 1rem;
}

.GameOverMessage input {
  font-size: 1rem;
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 2px solid #d7d7d7;
  border-radius: 4px;
}

.GameOverMessage button,
.GameOverMessage a {
  font-size: 1rem;
  text-align: center;
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.GameOverMessage_primary-btn {
  color: white;
  background-color: var(--red);
}

.GameOverMessage_secondary-btn {
  color: #4e4e4e;
  background-color: var(--grey);
}

.GameOverMessage .separator-bar {
  color: #d7d7d7;
  height: 1rem;
  margin: 24px 0;
  position: relative;
}

.GameOverMessage .separator-bar::after {
  content: 'OR';
  display: block;
  padding: 0.5rem;
  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.GameOverMessage .separator-bar::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d7d7d7;
  position: absolute;
  top: calc(50% - 1px);
}
