.PuzzleImage {
  padding: 2rem;
}

.PuzzleImage img {
  display: block;
  max-width: 100%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: var(--shadow);

  cursor: url('../assets/images/cursor.png') 15 15, auto;
}
